In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
from collections import Counter

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [3]:
df=pd.read_csv('//Users//vaibhavagarwal//Desktop//ML-NEU//MercarI//all//train.tsv',sep='\t',header=0)

In [4]:
df.head(4)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...

In [5]:
df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

In [6]:
df.shape

(1482535, 8)

In [7]:
df['train_id'].head(4)

0    0
1    1
2    2
3    3
Name: train_id, dtype: int64

In [8]:
def exploratory_Data():
    print ("No of nulls is {}".format(df.isnull().sum().sum()))
    print ("No of nas is {}".format(df.isna().sum().sum()))
    if df.shape[0]==df.train_id.unique().__len__():
        print("No duplicate records found")
    

exploratory_Data()

No of nulls is 639013
No of nas is 639013
No duplicate records found

In [9]:
df.isnull().values.any()

True

In [10]:
df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

In [11]:
def column_wise_missingData():
    print("Nulls in column name is {}".format(df[df.name.isna()].shape[0]))      
    print("Nulls in column item_condition is {}".format(df[df.item_condition_id.isna()].shape[0]))
    print("Nulls in column category name is {}".format(df[df.category_name.isna()].shape[0]))
    print("Nulls in column brand_name is {}".format(df[df.brand_name.isna()].shape[0]))
    print("Nulls in column item_description is {}".format(df[df.item_description.isna()].shape[0]))      
      
#adding up these nulls give the same as cacluated above  
column_wise_missingData()

Nulls in column name is 0
Nulls in column item_condition is 0
Nulls in column category name is 6327
Nulls in column brand_name is 632682
Nulls in column item_description is 4

In [12]:
#checking for duplicates and identifying NaN from categorical data
ids = df["train_id"]
df[ids.isin(ids[ids.duplicated()])].sort_values(by=['train_id'])



# checking rows that have brandname as 'NA'
na_rows=df[df['brand_name'].isna()]
print(type(na_rows))
na_rows.head(10)
na_rows.tail()
print("No of rows for Brand column with NAs is {}".format(na_rows.shape[0]))
# na_rows.shape

<class 'pandas.core.frame.DataFrame'>
No of rows for Brand column with NAs is 632682

In [13]:
#Grouping

In [14]:
df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description'],
      dtype='object')

In [15]:
# group_name=df.groupby('name').size()
type(group_name)

NameError: name 'group_name' is not defined

In [ ]:
group_name[group_name>300]

In [ ]:
#Observation
#Name has sizes mixed in it, which needs to be removed

In [ ]:
pd.Series(' '.join(df['name']).split()).value_counts()[-100:]

In [ ]:
nltk.download('stopwords')

In [ ]:
porter = PorterStemmer()
wnl = WordNetLemmatizer() 
stop = stopwords.words('english')
stop.append("new")
stop.append("like")
stop.append("u")
stop.append("it'")
stop.append("'s")
stop.append("n't")
stop.append('mr.')
stop = set(stop)

In [ ]:
import numpy as np
from kmodes.kmodes import KModes

# random categorical data

km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df)

# Print the cluster centroids
print(km.cluster_centroids_)

In [22]:
df['brand_name'].unique()[:100]

array([nan, 'Razer', 'Target', 'Acacia Swimwear', 'Soffe', 'Nike',
       'Smashbox', "Victoria's Secret", 'rue', 'Scholastic',
       'UGG Australia', 'Tarte', 'Wet n Wild', 'Too Faced',
       'Anthropologie', 'Torrid', 'Samsung', 'FOREVER 21', 'Air Jordan',
       'Apple', 'LuLaRoe', 'Hollister', 'PINK', 'Sephora', 'Under Armour',
       'Xbox', 'Kylie Cosmetics', 'The North Face', 'Brandy Melville',
       'lululemon athletica', 'Michael Kors', 'Rae Dunn', 'Infantino',
       "Levi's®", 'patagonia', 'Barbie', 'H&M', 'Adidas',
       'Nostalgia Electrics', 'Littlest Pet Shop', 'Sea Wees',
       'Motherhood Maternity', 'Melissa & Doug', 'Pokemon', 'Nintendo',
       'Silver Jeans Co.', 'Spin Master', 'Gap', 'Lululemon',
       'Rock Revival', 'Fossil', 'Merona', 'Boulevard Boutique',
       'MARC JACOBS', 'Steve Madden', 'No Boundaries', 'Faded Glory',
       'Miss Me', 'Salvatore Ferragamo', 'Urban Outfitters',
       'Bath & Body Works', 'Nars', 'Manolo Blahnik', 'Ralph Lauren',
       'LC Lauren Conrad', 'Kate Spade', 'Elmers', 'Leap Frog',
       'beautyblender®', 'PANDORA', 'Sony', 'aerie', 'GUESS', 'Younique',
       'Marucci', 'Cherokee', 'Calvin Klein', 'Hamilton Beach', 'eos',
       'Disney', 'YSL Yves Saint Laurent', 'Tiffany & Co.', 'Scentsy',
       'Estee Lauder', 'Old Navy', 'Mori Lee', 'Sherri Hill', 'Volcom',
       'AmazonBasics', 'Berkley', 'Banana Republic', 'Hello Kitty',
       'Apt. 9', 'Justice', 'MLB', 'American Eagle', 'Cole Haan',
       'Jessica Simpson', 'Georgio Armani', 'Kendra Scott'], dtype=object)

In [25]:
df_vs=df[df.brand_name=="Victoria's Secret"]

In [49]:
df_vs=df[df.brand_name=="Louis Vuitton"]
df_vs.head(5)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
766,766,Louis Vuitton wallet,2,Women/Women's Accessories/Wallets,Louis Vuitton,15.0,0,"Not used it was a gift, great condition"
822,822,Louis Vuitton box include dust bag,1,Women/Women's Accessories/Wallets,Louis Vuitton,39.0,0,Louis Vuitton wallet box with dust bag No flaw...
1334,1334,Authentic Louis Vuitton Mini Lin,3,Vintage & Collectibles/Bags and Purses/Handbag,Louis Vuitton,306.0,0,Louis Vuitton Speedy 30 M.M. Lin Ebene. Good c...
2206,2206,Louis Vuitton COMPACT CURIEUSE WALLET,2,Women/Women's Accessories/Wallets,Louis Vuitton,316.0,0,"Bought it 2013 - Excellent, condition - Includ..."
2807,2807,LV artsy,3,Women/Women's Handbags/Shoulder Bag,Louis Vuitton,180.0,1,No description yet

In [26]:
df_vs.shape

(48036, 8)

In [28]:
df_vs.tail(5)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
1482446,1482446,Victoria Secrets perfume bundle,2,Beauty/Fragrance/Women,Victoria's Secret,10.0,1,Victoria secrets bundle was rarely used. Bath ...
1482450,1482450,Victoria's Secret Royal Blue Pullover,3,Women/Sweaters/Crewneck,Victoria's Secret,25.0,0,Worn but still in very nice condition no rips ...
1482475,1482475,VS SMALL BIKINI BOTTOM NWT,1,Women/Swimwear/Two-Piece,Victoria's Secret,33.0,0,I DO COMBINE SHIPPING LET'S BUNDLE!!! NEW WITH...
1482508,1482508,Victoria secret black bag,1,Women/Women's Handbags/Shoulder Bag,Victoria's Secret,21.0,0,New with tags
1482528,1482528,Victoria's Secret Tankini Sz. Large,2,Women/Athletic Apparel/Sports Bras,Victoria's Secret,18.0,1,Purple and Paisley Victoria's Secret Tankini S...

In [29]:
df_miss=df[df.brand_name.isna()]

In [30]:
df_miss.shape

(632682, 8)

In [31]:
df_miss_50000=df_miss[0:50000:]

In [32]:
df_miss_50000

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity
5,5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma..."
9,9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...
17,17,New: Baby K'tan active baby carrier,1,Kids/Gear/Backpacks & Carriers,NaN,29.0,1,Brand new in box Size: Medium Color: Coral Ret...
23,23,Triple car charger,1,Electronics/Cell Phones & Accessories/Chargers...,NaN,8.0,1,Brand new never used All colors are available ...
31,31,"New Lularoe OS leggings, stars",1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,50.0,1,No description yet
34,34,Four puppy dog stuffed animal ty,3,Kids/Toys/Stuffed Animals & Plush,NaN,5.0,1,2 beanie babies pugsley wrinkles Puppy with pu...
35,35,Black Capri Leggings w/ Flowers One size,1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,13.0,1,One size fits sizes 2-12 92% polyester 8% span...
36,36,Black bag 30,3,Women/Women's Handbags/Totes & Shoppers,NaN,209.0,0,Pre-owned. Some light scratches on hardware co...
42,42,lots of Korean Nature Republic face mask,1,Beauty/Skin Care/Face,NaN,14.0,1,"totally 36 masks, will be expired on Feb.."
43,43,Apricot beige stick foundation!!,1,Beauty/Makeup/Face,NaN,12.0,1,Great quality!!! Fast free shipping!! You can ...
44,44,Glass Christmas Bowl✨,2,Vintage & Collectibles/Collectibles/Glass,NaN,12.0,1,Brand new! Never used smoking bowl. Just bough...
46,46,Metallic purple slime with sparkles,1,Kids/Toys/Arts & Crafts,NaN,8.0,0,"This slime is approximately 1.5 ounces, very s..."
49,49,Younique 3d fiber lash mascara,1,Beauty/Makeup/Eyes,NaN,9.0,1,Younique 3d fiber lash mascara will quickly be...
51,51,Led kids shoes size 3 and size 9,1,Kids/Girls (4+)/Shoes,NaN,36.0,0,"Led shoes for kids, seven colors in one shoes,..."
52,52,Hot Wheels-Super Tuners Car Set,1,Vintage & Collectibles/Antique/Collectibles,NaN,28.0,0,"Bundle for ""Carl's Collectibles"". Year: 2000 M..."
55,55,Vintage wood jewelry lot,3,Vintage & Collectibles/Jewelry/Brooch,NaN,5.0,1,"All are made out of wood. Necklace, earrings b..."
58,58,New yokai watch backpack,1,Kids/Gear/Backpacks & Carriers,NaN,10.0,0,New
59,59,HV-900 sports Bluetooth headset,1,Electronics/Cell Phones & Accessories/Headsets,NaN,12.0,1,New HV-900 sports sweatproof wireless Bluetoot...
60,60,1/4 ct Diamond Engagement Ring!,3,Women/Jewelry/Rings,NaN,119.0,0,This is a very beautiful diamond engagement ri...
61,61,NWT Lularoe OS French bulldog leggings,1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,50.0,1,Brand new with tag and bag. French bulldog leg...
66,66,Silver choker Italy 925,3,Women/Jewelry/Necklaces,NaN,15.0,1,"Signed Italy and 925 Necklace Vintage, lobster..."
69,69,Iphone 6/6s marble design case,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,5.0,1,❕PLEASE CHECK SIZE BEFORE ORDERING❕ ❕❕❕IF YOU ...
71,71,Partners In Crime Necklace ShipfromChina,1,Women/Jewelry/Necklaces,NaN,4.0,1,"""Fine or Fashion: Fashion Item Type: Necklace ..."
73,73,Toddler Vineyard Vines Hat,3,Kids/Boys 0-24 Mos/Accessories,NaN,14.0,0,Probably best for up to a 2 year old.
76,76,Black & Burgundy Bikini Bottoms,1,Women/Swimwear/Two-Piece,NaN,17.0,0,Both are a Chinese size medium which fits a US...
77,77,Aura Fluorite Double Terminated Wand,1,Home/Home Décor/Other,NaN,19.0,1,"Aura Fluorite: ⋅ The ""protection stone"" ⋅ Grou..."
78,78,Trump Shirt,3,Men/Tops/T-shirts,NaN,9.0,0,Worn once; will be washed before sent
...,...,...,...,...,...,...,...,...
116346,116346,Dark Auburn hair extensions,1,Women/Women's Accessories/Hair Accessories,NaN,8.0,1,Item Details: -New 22 inches synthetic hair ex...
116353,116353,Simple Cleansing Facial Wipes (3),1,Beauty/Makeup/Makeup Remover,NaN,12.0,0,This listing is for (3) Simple Facial wipes - ...
116361,116361,Lularoe Irma,1,Women/Tops & Blouses/Tunic,NaN,28.0,0,NWT gray Irma . Heavier Irma . Nice and comfy!!
116365,116365,Nike Nolan Ryan Texas Rangers t-shirt,2,Men/Tops/T-shirts,NaN,15.0,1,Nike brand Texas rangers / Nolan Ryan tee shir...
116367,116367,Lularoe os halloween ghosts,1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,27.0,1,Bnwt lularoe size os halloween ghosts
116368,116368,Obagi Blender New,1,Beauty/Skin Care/Face,NaN,42.0,0,Brand new sealed Obagi Blender 2oz. Expiration...
116369,116369,Boys how to draw,2,Handmade/Art/Drawings,NaN,9.0,0,Boys how to draw books Cars comics super Heros...
116370,116370,Black paracord handle for Yeti 30oz,1,"Home/Home Appliances/Wine, Beer & Beverage Coo...",NaN,8.0,1,Black Rambler Handmade Paracord Sturdy Handle ...
116374,116374,MK Man Cologne Bundle/Mk Perfume Bundle,1,Beauty/Fragrance/Men,NaN,46.0,1,3 bottles of Man cologne Men's Cologne True or...
116376,116376,Lace Jumpsuit,3,Women/Dresses/Full-Length,NaN,34.0,0,Worn once No flaws Size small Black Has lots o...
116377,116377,Soybu Black skort,3,"Women/Athletic Apparel/Skirts, Skorts & Dresses",NaN,14.0,0,Soybu black skort. Built in shorts. Perfect fo...
116378,116378,Women Motorcycle Jacket,3,Women/Athletic Apparel/Jackets,NaN,29.0,0,Very lightly used has a lot of padding pockets...
116379,116379,Skechers Boys 1 Flex Advantage Royal Or,1,Kids/Boys (4+)/Shoes,NaN,31.0,0,Skechers Boys size 1 Flex Advantage Royal Blue...
116382,116382,High heels,2,Women/Shoes/Sandals,NaN,9.0,0,Never worn...just too high for me
116386,116386,Kids Large glow game on shirt (10/12),2,Kids/Boys (4+)/Top & T-shirts,NaN,7.0,1,No description yet
116389,116389,Peace sign ring,2,Women/Jewelry/Rings,NaN,3.0,1,No description yet
116390,116390,New Estée Lauder & Lancome Travel Duo,1,Beauty/Fragrance/Women,NaN,15.0,1,"Authentic, Brand new, Never been used or sampl..."
116391,116391,470 carat labradorite heart,1,Other/Other/Other,NaN,27.0,0,❌ NO FREE SHIPPING❌NO LOW BALLERS❌ Hand polish...
116392,116392,Hello Kitty Seat Covers,2,Other/Automotive/Interior Accessories,NaN,66.0,0,This is for cars/SUV's that have 5 seats (2 in...
116394,116394,Louis Vuitton speedy Monogram 30,3,Women/Women's Handbags/Totes & Shoppers,NaN,379.0,0,"Date code: SD3037 , 100% authentic Louis Vuitt..."
116396,116396,Butterfly Suncatcher w/ added wire,1,Handmade/Glass/Stained Glass,NaN,11.0,0,This is my last of this kind i think. This one...
116400,116400,iPhone 6/6s case pink/gold fur ball,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,10.0,0,Brand new For iPhone 6/6s only Will ship out t...
116401,116401,"Brighton Kazuri bead necklace, bracelet",1,Handmade/Jewelry/Jewelry,NaN,60.0,1,No description yet
116402,116402,Kylie Jenner lip kit KOKO K,1,Beauty/Makeup/Lips,NaN,13.0,1,Brand new Kylie Jenner Lip Kit Lipstick and li...
116404,116404,Aqua di gio,1,Beauty/Fragrance/Men,NaN,42.0,1,3.4 oz brand new large bottle.
116405,116405,Surgical Steel Tiny Stars Earrings,2,Women/Jewelry/Earrings,NaN,9.0,0,Great for people with alloy/nickel allergy... ...
116406,116406,6x Iphone 5 6 7 certified chargers,1,Electronics/Cell Phones & Accessories/Cell Pho...,NaN,9.0,1,6x Iphone 5 6 7 certified chargers Free shippi...
116408,116408,iPhone 6 Plus/6sPlus case marble mixblue,1,Electronics/Cell Phones & Accessories/Cell Pho...,NaN,8.0,1,For iPhone 6 Plus and iPhone 6S plus New soft ...
116411,116411,Squishy Lot of 3,1,Vintage & Collectibles/Antique/Collectibles,NaN,53.0,1,"Includes Ibloom gold bar, Mini Hayaru cake sli..."
116412,116412,Maidenform Waist Cincher,2,Women/Underwear/Other,NaN,8.0,1,New size 2X. Remember I will combine shipping ...

In [39]:
# divide the dataset with brandnames not null, into 60% train, 40% test
# build some model that can predict brandnames with highest accuracy.....
#use that to predict the brand names for brandname with null brands,,,
def concattext(line):
    return (line['name']+line['category_name']+line['brand_name']+line['item_description'])

def subcategorize(category):
    try: return category.split("/")
    except: return ("No Label","No Label","No Label")
    


df_miss_50000['sub_cat1'],df_miss_50000['sub_cat2'],df_miss_50000['sub_cat3']=\ zip(df_miss_50000['category_name'].apply
(lambda x:subcategorize(x)))

SyntaxError: unexpected character after line continuation character (<ipython-input-39-f3e700d8c7bf>, line 13)

In [44]:
df_miss_50000['text']=df_miss_50000['name'].map(str)+df_miss_50000['category_name'].map(str)+df_miss_50000['brand_name'].map(str)+df_miss_50000['item_description'].map(str)

/Users/vaibhavagarwal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
df_miss_50000.head(5)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,text
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,MLB Cincinnati Reds T Shirt Size XLMen/Tops/T-...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Leather Horse StatuesHome/Home Décor/Home Déco...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,24K GOLD plated roseWomen/Jewelry/Necklacesnan...
5,5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma...",Bundled items requested for RuieWomen/Other/Ot...
9,9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...,Porcelain clown doll checker pants VTGVintage ...